<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>risk-data</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style type="text/css">
		body{
			padding-top: 65px;
		}
	</style>
	<script type="text/javascript">
		$(document).ready(function(){
			$.ajax({
				type: "GET",
				url: "/fields",
				contentType: 'application/json',
				dataType: 'json',
				success: function(e){
					var fieldsJSON;
					console.log("success");
					fieldsJSON = JSON.parse(e.data);
					console.log(fieldsJSON);
					createFields(fieldsJSON.fields);
				},
				failure: function(e){
					console.log("fail");
				}
			});


			$("#submit-btn").click(function(){
				var data = {};

				$(".form-group input[type=text], .form-group select").each(function(){
					var inputID = $(this).attr("id").split("-")[0]; //Divide ID do input[type=text] em dois e pega a primeira parte antes do do hífen
					var inputValue = $(this).val();
					data[inputID] = inputValue;
				});

				$.ajax({
					type: "POST",
					url: "/result",
					contentType: 'application/json',
					dataType: 'json',
					data: JSON.stringify(data),
					success: function(e){
						console.log("success");
						console.log(e);
						$("#container-form").hide();
						$("#container-result-textarea").show();
						$("#result-textarea").val(e.result);
					},
					failure: function(e){
						console.log("fail");
					}
				});
			});
		});

		var createFields = function(fieldsArray){
			if(fieldsArray.length > 0){
				fieldsArray.forEach(function(field){
					if(field.active = "true"){
						switch(field.type){
							case "text":
								$("form").prepend('<div class="form-group"><label for="'+ field.id +'-input">'+ field.name +'</label><input type="text" class="form-control" id="'+ field.id +'-input" placeholder="'+ field.name +'"></div>');
								break;
							case "select":
								$("form").prepend('<div class="form-group"><label for="'+ field.id +'-input">'+ field.name +'</label><select class="form-control" id="'+ field.id +'-input"></select></div>');
								field.values.forEach(function(value){
									$("#" + field.id + "-input").append("<option value='" + value.value + "'>" + value.mask + "</option>");
								});
								break;
							case "radio":
								var count = 0;
								var radios = "";
								field.values.forEach(function(value){
									radios += '<label class="radio-inline"><input type="radio" name="'+ field.id +'" id="'+ field.id + "-" + count +'" value="'+ value.value +'"> '+ value.mask +'</label>';
									count++;
								});
								$("form").prepend('<div class="form-group"><p>'+ field.name +'</p>'+ radios +'</div>');
								break;
						}
					}
				});
			}else{
				$("#button-container").hide();
				$("form").prepend("<h1>JSON dos campos vazio</h1>");
			}
		}
	</script>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">risk-data</a>
			</div>
			<!--<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div>-->
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row" id="container-form">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<form>
					<div class="form-group" id="button-container">
						<button type="button" class="btn btn-default" id="submit-btn">Calcular</button>
						<button type="reset" class="btn btn-default">Limpar</button>
					</div>
				</form>
			</div>
			<div class="col-md-4"></div>
		</div>
		<div class="row" id="container-result-textarea" style="display: none;">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<textarea class="form-control" rows="27" id="result-textarea"></textarea>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</body>
</html>
